body {
  background-color: black;
}
h1 {
  color: white;
}
table {
  margin: 100px auto;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  width: 200px;
  background-color: white;
}
th {
  background-color: #FF6600;
}
th, td {
  border: 1px solid black;
  width: 100px;
  height: 30px;
  overflow: hidden;
  text-align: center;
}
