body {
  background-color: black;
  font-family: monospace;
  color: white;
}
table {
  margin: 100px auto;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  width: 200px;
  background-color: white;
}
th {
  background-color: coral;
}
th, td {
  border: 1px solid black;
  color: black;
  width: 150px;
  height: 50px;
  overflow: hidden;
  text-align: center;
}
div.top {
  background-color: black;
  color: black;
  position: absolute;
  top: 0%;
  right: 0%;
}
div.top:hover {
  background-color: #FF0000;
}
a.top {
  text-decoration: none;
  color: black;
}
th.min, td.min {
  width: max-content;
}
th.min {
  background-color: burlywood;
}
td.min {
  background-color: lightgoldenrodyellow;
}
td.imp {
  background-image: linear-gradient(aqua, aquamarine);
}
